<footer class="footer section" id="footer">
  <div class="container container-footer">
    <div class="footer-top">
      <p class="footer-top-text">
        <span class="footer-top-subtext orange">Chocolate</span> a delicious
        cure for a bad day
      </p>
      <address class="footer-address">
        <p class="footer-address-subtitle">Contact us</p>
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a class="footer-address-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-address-item">
            <a class="footer-address-link" href="mailto:simplycthoc@gmail.com"
              >simplycthoc@gmail.com</a
            >
          </li>
        </ul>
      </address>
    </div>
    <hr class="hr" />
    <div class="footer-bottom">
      <nav class="nav footer-nav">
        <ul class="nav-list footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="./index.html">Home</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#recipe"
              >How it&CloseCurlyQuote;s made?</a
            >
          </li>
          <li class="footer-nav-item hidden">
            <a class="footer-nav-link" href="#">Our products</a>
          </li>
          <li class="footer-nav-item hidden">
            <a class="footer-nav-link" href="#">Top sellers</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#reviews">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <form class="footer-form" action="">
        <label class="form-label" for="reviewer-email">
          <input
            class="form-input"
            type="email"
            name="reviewer-email"
            id="reviewer-email"
            placeholder="Enter your email"
          />
        </label>
        <button class="form-button" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</footer>
