<header class="header" id="header">
  <div class="container container-header">
    <nav class="nav header-nav">
      <a class="logo-link" href="./index.html">
        <span class="logo-text">
          <span class="logo-subtext">Simply</span> chocolate
        </span>
        <svg class="logo-icon" width="21" height="21">
          <use href="./images/icons.svg#icon-chocolate-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#recipe">How it&CloseCurlyQuote;s made? </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <address class="address header-address">
      <ul class="address-list">
        <li class="address-item">
          <a
            class="address-link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg class="address-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="address-item">
          <a class="address-link" href="https://www.x.com/" target="_blank">
            <svg class="address-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-x"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <button class="button button-menu" type="button" data-menu-open>
      <svg class="button-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
