<section class="section hero" id="hero">
  <div class="container container-hero">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero-box">
      <div class="hero-buttons">
        <button class="button hero-button hero-button-buy" type="button">
          Buy now
        </button>
        <button class="button hero-button hero-button-recipe" type="button">
          How it&CloseCurlyQuote;s made
        </button>
      </div>
      <a class="scroll-link" href="#footer">
        <span class="scroll-link-text">scroll down</span>
        <div class="scroll-link-box">
          <svg class="scroll-link-svg" width="16" height="16">
            <use href="/img/icons.svg#icon-scroll"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
