<div class="overlay overlay-menu" data-modal>
  <div class="container-menu">
    <button class="button button-close-menu" type="button" data-menu-close>
      <svg class="button-close-menu-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="nav menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a class="menu-nav-link current" href="./index.html">Home</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#recipe"
            >How it&CloseCurlyQuote;s made?
          </a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#reviews">Chocolate is loved </a>
        </li>
      </ul>
    </nav>
    <address class="address menu-address">
      <ul class="menu-address-list">
        <li class="menu-address-item">
          <a
            class="menu-address-link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg class="menu-address-icon" width="22" height="22">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="menu-address-item">
          <a
            class="menu-address-link"
            href="https://www.x.com/"
            target="_blank"
          >
            <svg class="menu-address-icon" width="22" height="22">
              <use href="/img/icons.svg#icon-x"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</div>
