<section class="section recipe" id="recipe">
  <div class="container container-recipe">
    <h2 class="section-title recipe-title">
      How it&CloseCurlyQuote;s <span class="orange">made?</span>
    </h2>
    <div class="recipe-wrapper">
      <picture class="recipe-picture">
        <source
          srcset="
            /img/recipe-desktop-chocolate@1x.png 1x,
            /img/recipe-desktop-chocolate@2x.png 2x
          "
          media="(min-width: 1168px)"
        />
        <source
          srcset="
            /img/recipe-tablet-chocolate@1x.png 1x,
            /img/recipe-tablet-chocolate@2x.png 2x
          "
          media="(min-width: 736px)"
        />
        <img
          srcset="
            /img/recipe-mobile-chocolate@1x.png 1x,
            /img/recipe-mobile-chocolate@2x.png 2x
          "
          src="/img/recipe-mobile-chocolate@1x.png"
          alt="Chocolate making process"
          class="recipe-img"
        />
      </picture>
      <section class="recipe-box">
        <h3 class="recipe-box-title">
          Try our chocolates today and <br />discover the perfect balance of
          flavor
        </h3>
        <ul class="recipe-list">
          <li class="recipe-item">
            <svg class="recipe-marker" width="8" height="8">
              <use href="/img/icons.svg#icon-recipe-marker"></use>
            </svg>
            <p class="recipe-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="recipe-item">
            <svg class="recipe-marker" width="8" height="8">
              <use href="/img/icons.svg#icon-recipe-marker"></use>
            </svg>
            <p class="recipe-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="recipe-item">
            <svg class="recipe-marker" width="8" height="8">
              <use href="/img/icons.svg#icon-recipe-marker"></use>
            </svg>
            <p class="recipe-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="recipe-item">
            <svg class="recipe-marker" width="8" height="8">
              <use href="/img/icons.svg#icon-recipe-marker"></use>
            </svg>
            <p class="recipe-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="recipe-item">
            <svg class="recipe-marker" width="8" height="8">
              <use href="/img/icons.svg#icon-recipe-marker"></use>
            </svg>
            <p class="recipe-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
