<section class="section reviews" id="reviews">
  <div class="container container-reviews">
    <h2 class="section-title reviews-title">
      <span class="orange">Chocolate</span> is loved
    </h2>
    <input type="radio" name="slider" id="first-slide" checked hidden />
    <input type="radio" name="slider" id="second-slide" hidden />
    <input type="radio" name="slider" id="third-slide" hidden />
    <ul class="reviews-list">
      <li class="reviews-item first-review">
        <img
          class="reviews-img"
          srcset="
            /img/reviews-vdobrzhanska@2x.png 2x,
            /img/reviews-vdobrzhanska@1x.png 1x
          "
          src="/img/reviews-vdobrzhanska@1x.png"
          alt="Victoria Dobrzhanska"
        />
        <div class="reviews-desc">
          <h3 class="reviews-desc-title">Victoria Dobrzhanska</h3>
          <p class="reviews-desc-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="reviews-item second-review">
        <img
          class="reviews-img"
          srcset="
            /img/reviews-nbabenko@2x.png 2x,
            /img/reviews-nbabenko@1x.png 1x
          "
          src="/img/reviews-nbabenko@1x.png"
          alt="Nazar Babenko"
        />
        <div class="reviews-desc">
          <h3 class="reviews-desc-title">Nazar Babenko</h3>
          <p class="reviews-desc-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="reviews-item third-review">
        <img
          class="reviews-img"
          srcset="
            /img/reviews-okampusch@2x.png 2x,
            /img/reviews-okampusch@1x.png 1x
          "
          src="/img/reviews-okampusch@1x.png"
          alt="Olena Kampusch"
        />
        <div class="reviews-desc">
          <h3 class="reviews-desc-title">Olena Kampusch</h3>
          <p class="reviews-desc-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <div class="slider-selectors">
      <label class="slider-label" for="first-slide"></label>
      <label class="slider-label" for="second-slide"></label>
      <label class="slider-label" for="third-slide"></label>
    </div>
    <button class="button button-reviews" type="button" data-leave-review-open>
      Leave a review
    </button>
  </div>
</section>
