.section {
  margin: 0 auto;
}

.container {
  max-width: 368px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 736px) {
  .container {
    max-width: 736px;
  }
}

@media (min-width: 1168px) {
  .container {
    max-width: 1168px;
  }
}